Repository codefordenver/gsn, pull requests merged in 2019-03, with the labels that each got.

#58 Phil/frontend styling
  frontend/.eslintrc.js
  frontend/.storybook/config.js
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/img/students.jpeg
  frontend/src/App.js
  frontend/src/components/LoginForm.js
  frontend/src/components/SignupForm.js
  frontend/src/components/layouts/SignUpLayout.js
  frontend/src/pages/Login/LoginForm.js
  frontend/src/pages/Login/index.js
  frontend/src/pages/Register/SignupForm.js
  frontend/src/pages/Register/index.js
  frontend/src/state/UserActions.js
  frontend/src/utils/history.js
  frontend/stories/components/helloWorld.js
  frontend/stories/components/index.js
  frontend/stories/index.js
  frontend/stories/pages/index.js
  frontend/stories/pages/login.js
Labels: in progress

#61 Phil/style updates
  frontend/public/img/background2.jpg
  frontend/public/img/gsn_logo.png
  frontend/public/img/gsn_logo_black.png
  frontend/public/img/gsn_logo_mark.png
  frontend/public/img/gsn_logo_tagline.png
  frontend/public/img/gsn_logo_white.png
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Breadcrumbs/Breadcrumbs.js
  frontend/src/components/Breadcrumbs/index.js
  frontend/src/components/Icons.js
  frontend/src/components/LeftNav.js
  frontend/src/components/layouts/Default.js
  frontend/src/components/layouts/SignUpLayout.js
  frontend/src/components/sharedStyles/LoginStyles.js
  frontend/src/index.scss
  frontend/src/pages/Login/LoginForm.js
  frontend/src/pages/Register/SignupForm.js
  frontend/src/utils/theme.js
  frontend/stories/components/breadcrumbs.js
  frontend/stories/components/helloWorld.js
  frontend/stories/components/index.js
  frontend/stories/components/layout.js
  frontend/stories/pages/login.js
  frontend/stories/styles/colors.js
Labels: frontend, in progress, styling

#62 Lint fixes
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/PrivateRoute.js
  frontend/src/components/Breadcrumbs/Breadcrumbs.js
  frontend/src/components/Breadcrumbs/index.js
  frontend/src/components/Districts.js
  frontend/src/components/HomePage.js
  frontend/src/components/Icons.js
  frontend/src/components/LeftNav.js
  frontend/src/components/Nav.js
  frontend/src/components/NavItem.js
  frontend/src/components/StudentDetail.js
  frontend/src/components/Students.js
  frontend/src/components/layouts/Default.js
  frontend/src/components/layouts/SignUpLayout.js
  frontend/src/components/sharedStyles/LoginStyles.js
  frontend/src/index.js
  frontend/src/pages/Login/LoginForm.js
  frontend/src/pages/Login/index.js
  frontend/src/pages/Register/SignupForm.js
  frontend/src/pages/Register/index.js
  frontend/src/serviceWorker.js
  frontend/src/services/authServices.js
  frontend/src/services/districtServices.js
  frontend/src/services/request.js
  frontend/src/services/studentServices.js
  frontend/src/state/UserActions.js
  frontend/src/state/UserReducer.js
  frontend/src/state/store.js
  frontend/src/utils/actionUtils.js
  frontend/src/utils/history.js
  frontend/src/utils/theme.js
Labels: in progress

#70 Phil #64 layout
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Breadcrumbs/Breadcrumbs.js
  frontend/src/components/LeftNav.js
  frontend/src/components/PrivateRoute.js
  frontend/src/components/Routes.js
  frontend/src/components/Students.js
  frontend/src/components/layouts/Default.js
  frontend/src/index.js
  frontend/src/index.scss
Labels: frontend, in progress
